// ----------------
// TABLE OF CONTENT
// i. GLOBALS
// 1. HOME
// 2. COUPLE
// 3. EVENT
// 4. MOMENT
// 5. QUOTE-WISH
// ----------------

// i. GLOBALS
*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  font-family: sans-serif;
  position: relative;
}

.App {
  background-image: linear-gradient(
      to right,
      rgba(white, 0.8),
      rgba(white, 0.8)
    ),
    url('../assets/background.jpg');
}

.frame {
  position: absolute;
  height: 100%;
  width: 100%;
  pointer-events: none;
}

img.corner {
  position: absolute;
  height: 8rem;
  object-fit: contain;
  z-index: 60;
  max-width: 100%;

  &[class*='top'] {
    top: 0;
  }

  &.top {
    left: 50%;
    transform: translateX(-50%);

    &-left {
      left: 0;
      transform: translateX(0);
    }

    &-right {
      right: 0;
      transform: translate(0);
    }
  }

  &[class*='bottom'] {
    bottom: 3rem;
  }

  &.bottom {
    left: 50%;
    transform: rotate(180deg) translateX(50%);

    &-left {
      left: 0;
      transform: rotate(180deg);
    }

    &-right {
      right: 0;
      transform: rotate(180deg);
    }
  }
}

section {
  position: relative;
  color: $neutral-dark;
  padding: 5rem 1rem;
  text-align: center;
  min-height: 100vh;

  &.non-padded {
    padding: 0;
  }

  &::after {
    content: '';
    display: block;
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    right: 0.5rem;
    bottom: 0.5rem;
    border-radius: 0.5rem;
    border: 2px solid $primary-gold;
    pointer-events: none;
  }

  > p {
    margin: 2em 0;
  }
}

h4.italic {
  font-family: $great-vibes;
  font-size: 1.8em;
}

h1,
h2,
h3,
h4 {
  font-family: $newsreader;
}

h1 {
  font-weight: normal;
  font-size: 1.8em;
}

h2 {
  font-weight: lighter;
  font-size: 1.5em;
}

h3 {
  font-weight: lighter;
  font-size: 1.2em;
  font-style: italic;
}

button,
.btn {
  $bg-color: $neutral-dark;
  display: inline-block;
  margin: 0.5rem 0;
  padding: 0.5rem 1rem;
  background-color: $bg-color;
  color: $white;
  border: none;
  text-decoration: none;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: darken($bg-color, 10);
  }
}

.card {
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: $white;

  &-shadow {
    box-shadow: 2px 2px 5px rgba($mid-dark, 0.3);
  }
}

// 1. HOME
.home {
  .title {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    color: $white;

    h1,
    h2,
    h3 {
      text-shadow: 2px 3px 3px rgba($mid-dark, 0.7);
    }
  }
}

// 2. COUPLE
.couple {
  .profile {
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto 1fr;
    gap: 1rem;

    &-item {
      span {
        display: block;
      }
    }

    &-picture {
      width: clamp(10rem, 60%, 20rem);
      aspect-ratio: 1 / 1;
      object-fit: cover;
      border-radius: 50%;
    }

    &-name {
      font-weight: bold;
      color: $primary-gold;
    }

    .ampersand {
      font-size: 4em;
      color: $primary-gold;
      font-family: $great-vibes;
    }
  }
}

// 3. EVENT
.event {
  .policy {
    max-width: 45rem;
    margin: 0 auto;

    ol {
      display: block;
      width: clamp(13em, 50%, 30em);
      margin: 0 auto;

      li {
        text-align: left;
      }
    }
  }
}

// 4. MOMENT
.moment {
  > p {
    margin-bottom: 2rem;
  }
}

// 5. QUOTE WISH
.quote-wish {
  &__quote {
    p {
      margin-left: auto;
      margin-right: auto;
      max-width: 30em;
    }
  }
}
